<!-- Search button -->
<div class="container mt-3">
    <form class="d-flex">
        <input class="form-control me-sm-2" type="text" placeholder="Look for movies and tv shows">
        <button class="btn btn-dark my-2 my-sm-0" type="submit">Search</button>
    </form>
</div>

<!-- Tabs -->
<div class="container mt-5 tabset-container mb-5">
    <tabset class="media-tabset">
        <!-- Movie Tab -->
        <tab heading="Movies" id="tab1">
            <div class="container">
                <div class="row m-4">
                    <div *ngFor="let movie of movies" class="col-lg-6 mb-4">
                        <app-movie-card [movie]="movie"></app-movie-card>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="col-md-12 text-center mb-4">
                    <button type="button" class="btn btn-outline-light mb-5" *ngIf="loadMoreTVShows" type="button"
                        (click)="loadMoreMovies()">Load More</button>

                </div>
            </div>
        </tab>
        <!-- TV Shows Tab -->
        <tab heading="TV Shows" id="tab2">
            <div class="container">
                <div class="row  m-4">
                    <div *ngFor="let tvshow of tvshows" class="col-lg-6 mb-4">
                        <app-movie-card [movie]="tvshow"></app-movie-card>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="col-md-12 text-center mb-4">
                    <button type="button" class="btn btn-outline-light mb-5" *ngIf="loadMoreTVShows" type="button"
                        (click)="loadMoreTVShows()">Load More</button>
                </div>
            </div>
        </tab>
    </tabset>
</div>